.statistics-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-3xl);

    p {
        font-weight: 500;
        font-size: var(--font-size-l);
        text-align: center;
    }
}