.schedule-interview-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: var(--common-neutral-background-color-white);
    padding: 25px 40px;
    border: 1px solid var(--common-neutral-border-color);
    border-radius: 7px;
    animation: slideIn 0.17s ease-out forwards;

    & > div {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 46px;

        .cross {
            position: fixed;
            right: 20px;
            top: 23px;
            cursor: pointer;
        }

        h1 {
            text-align: center;
        }
    }
}

@keyframes slideIn {
  0% {
    transform: translate(100%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}