.submit-button-ui 
{
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button-1
{
    background-color: var(--primary-button-default-background-color);
    color: var(--primary-button-default-text-color);
    border: none;
    outline: none;

    &:hover {
        background-color: var(--primary-button-hover-background-color);
        color: var(--primary-button-hover-text-color);
    }
}