.dashboard-page 
{
    & > div:first-of-type {
        display: flex;
        
        a {
            color: var(--input-placeholder-color);
            border-top: 1px solid var(--common-neutral-border-color);
            border-left: 1px solid var(--common-neutral-border-color);
            border-right: 1px solid var(--common-neutral-border-color);
            padding: 7px 10px;

            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            &:hover {
                border-right-color: var(--common-primary-medium-color);
                border-left-color: var(--common-primary-medium-color);
                border-top-color: var(--common-primary-medium-color);
            }
        }

        .a-active {
            color: var(--common-primary-medium-color) !important;
            border-bottom: 1px solid var(--common-primary-medium-color) !important;
            font-weight: 600 !important;
        }
    }

    .select-ui select {
        padding: 1px;
    }
}