.view-informations-candidates-table-container-feature {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--common-neutral-border-color);
    padding: 30px;
    width: 450px;

    .no-candidat-id {
        font-size: var(--font-size-s);
        text-align: center;
    }

    h2 {
        span {
            text-transform: uppercase;
        }
        font-weight: 800;
    }
}

.view-informations-candidates-table-container-feature-center {
    justify-content: center;
}