.table-container-feature {
    background-color: var(--common-neutral-background-color-white);
    border: 1px solid var(--common-neutral-border-color);
    border-radius: 5px;

    & > .table-section {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .table-and-detail {
        display: flex;
        gap: 16px;
        align-items: flex-start;

        .table-responsive {
            flex: 1 1 auto;
        }

        > :last-child {
            flex: 0 0 430px;
        }
    }

    .table-responsive {
        width: 100%;
        overflow-x: auto;
    }

    @media (max-width: 768px) {
        .table-and-detail {
            flex-direction: column;
        }

        .table-and-detail > :last-child {
            flex: 0 0 auto;
            width: 100%;
            border-left: none;
        }
    }
}