.header-ui 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
    min-height: 100dvh;
    background-color: var(--common-neutral-background-color-white);
    border-right: 1px solid var(--common-neutral-border-color);
    padding: 30px 0px 10px 0px;
    cursor: pointer;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 35px;

        nav 
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}