.button-ui {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    border-radius: var(--radius-md);
    padding: 0 var(--spacing-md);
    cursor: pointer;
}

.button-primary
{
    background-color: var(--primary-button-default-background-color);
    border: none;
    outline: none;
    padding: var(--spacing-sm);
    border-radius: var(--radius-sm);

    p {
        color: var(--primary-button-default-text-color);
        font-size: var(--font-size-s);
        font-weight: 400;
    }

    &:hover {
        background-color: var(--primary-button-hover-background-color);
        color: var(--primary-button-hover-text-color);
    }
}

.button-secondary {

    background-color: var(--secondary-button-default-background-color);
    border: 1px solid var(--secondary-button-default-border-color);

    svg {
        stroke-width: 2px;
        stroke: var(--secondary-button-default-text-color);
    }

    p {
        color: var(--secondary-button-default-text-color);
        font-size: var(--font-size-xs);
        font-weight: 500;
    }

    &:hover {
        background-color: var(--secondary-button-hover-background-color);
        border: 1px solid var(--secondary-button-hover-border-color);

        svg {
            stroke: var(--secondary-button-hover-text-color);
        }

        p {
            color: var(--secondary-button-hover-text-color);
        }
    }
}

.button-tertiary {
    border: 1px solid var(--common-neutral-border-color);
    background-color: var(--common-neutral-background-color-white);

    svg {
        stroke-width: 3px;
    }

    p {
        font-size: var(--font-size-xs);
        font-weight: 500;
    }

    &:hover {
        background-color: var(--common-neutral-hover-background-color);
    }
}
