.navigation-ui
{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 13px 10px 10px;

    p {
        font-size: var(--font-size-s);
    }

    &:hover {
        background-color: var(--common-neutral-hover-background-color);
    }
}

.nav-active {
    background-color: var(--common-neutral-active-background-color);
    
    svg {
        stroke: var(--common-primary-medium-color);
    }

    p {
        color: var(--common-primary-medium-color);
    }
}
