.badge-ui {
    p {
        font-size: var(--font-size-xs);
    }
    padding: 2px 5px;
    border-radius: 10px;
}

.badge-primary {
    display: inline-block;
    background-color: var(--badge-primary-background-color);

    p {
        color: var(--badge-primary-text-color);
    }
}