.edit-user-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: var(--common-neutral-background-color-white);
    padding: 25px 40px;
    border: 1px solid var(--common-neutral-border-color);
    border-radius: 7px;

    & > div {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 46px;

        .cross {
            position: fixed;
            right: 20px;
            top: 23px;
            cursor: pointer;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & > div:first-of-type {
                display: flex;
                gap: 50px;
            }
            
            .text-input-ui {
                display: flex;
                align-items: center;
                gap: 20px;

                label {
                    width: 100px;
                }

                input {
                    flex: 1;
                }
            }

            .select-ui {
                display: flex;
                align-items: center;

                label {
                    width: 120px;
                }

                select {
                    flex: 1;
                }
            }

            & > div:nth-of-type(5), & > div:nth-of-type(6)
            {
                margin-top: 10px;
                display: flex;
                align-items: center;
                gap: 15px;

                label {
                    font-size: var(--font-size-s);
                    font-weight: 500;
                }
            }

            & > div:nth-child(7) {
                margin-top: 15px;
                display: flex;
                gap: 10px;

                button {
                    flex: 1;

                    p {
                        font-size: var(--font-size-s);
                    }
                }
            }
        }
    }
}