.header-ui 
{
    display: inline-block;
    min-height: 100dvh;
    background-color: var(--common-neutral-background-color-white);
    border-right: 1px solid var(--common-neutral-border-color);
    padding: 20px 10px;
}