.header-table-container-feature {
    border-bottom: 1px solid var(--common-neutral-border-color);
    padding: 9px 11px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    & > :nth-child(1) {
        flex: 1 1 240px;
        min-width: 160px;
    }

    .button-tertiary, .button-secondary {
        flex: 0 0 auto;
    }

    @media (max-width: 420px) {
        padding: 8px 8px;
        gap: 8px;
    }
}