.table-table-container-feature {
    width: 100%;
    border-collapse: collapse;
    display: table;
    min-width: 720px; // allow horizontal scroll on small screens

    thead {
        th {
            color: #A6A6A6;
            font-weight: 350;
            font-size: var(--font-size-s);
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid var(--common-neutral-border-color);
        }

        th:first-child {
            width: 0px; // ou moins selon besoin
        }   

        .little-first {
            &:first-child {
                width: 50px;
            }
        }

        .first {
            &:first-child {
                width: 320px;
            }
        }
    }

    tbody {
        width: 100%;

        td:first-child {
            width: 0px; // ou moins selon besoin
        }   

        tr {
            transition: background-color 0.15s ease-in-out;

            &:hover {
                background-color: #f9f9f9;
            }

            td {
                padding: 15px;
                text-align: left;
                font-size: var(--font-size-s);
                vertical-align: middle;
                height: auto;
            }

            .clickable {
                height: auto;
                cursor: pointer;
            }
        }
    }

    tfoot {
        border-top: 1px solid var(--common-neutral-border-color);
        white-space: pre;

        tr {
            display: flex;
            align-items: center;
            
            th {
                padding: 15px;
                text-align: left;
                font-size: var(--font-size-s);
                font-weight: 500;
            }

            & > th:last-of-type {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;

                p {
                    margin-top: -1.5px;
                    font-size: 16px;
                }

                svg {
                    cursor: pointer;
                }
            }
        }
    }
}

.fixed {
    table-layout: fixed;
}

@media (max-width: 768px) {
    .table-table-container-feature {
        min-width: 600px;
        font-size: var(--font-size-s);
    }

    .table-table-container-feature thead th,
    .table-table-container-feature tbody td {
        padding: 10px;
    }
}